
thead tr{
background-color:#FFCF79;
}
.lev1{
background-color:#66A1D5;
}
.lev2{
display:none;
background-color:#C3D6F5;
}
.lev3{
display:none;
}
.row_highlight{
background-color:#CEEBFB;
}
.row_2l{
background-color:#A3D6F5;
}
